body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 1024px;
    background-color: white;
    padding: 32px;
}

main .wrapper{
    overflow-x: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 42px;
    margin: 24px 0;
    color: black;
}

header p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 96px;
    color: dimgray;
    line-height: 1.6;
}

.breadcrumbs {
    color: darkgray;
}

table {
    width: 100%;
    min-width: 490px;
    table-layout: fixed;
}

thead th {
    border-bottom: 2px solid black;
    padding: 4px 8px 8px 0;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

tbody th,
tbody td {
    vertical-align: top;
    border-bottom: 1px solid silver;
    padding: 16px 16px 0 0;
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
}

tr>td:last-child {
    padding-right: 0;
}

tbody>tr:last-child th,
tbody>tr:last-child td {
    border-bottom: none;
}

tbody code {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 400;
    color: deeppink;
    margin-bottom: 12px;
    display: block;
}

td .description {
    font-size: 14px;
    color: black;
}

.example {
    background: whitesmoke;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 13px;
    color: dimgray;
}

.example code {
    font-size: 16px;
    color: royalblue;
}

footer .wrapper {
    padding: 26px 32px;
    background-color: dimgray;
    font-size: 14px;
    color: whitesmoke;
    height: 64px;
}

footer .copy {
    float: left;
    font-weight: 700;
}

footer .feedback {
    float: right;
}

footer a {
    text-decoration: underline;
    color: whitesmoke;
}

@media (max-width: 600px) {

    h1{
        font-size: 26px;
    }

    header p{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .wrapper{
        padding: 16px;
    }

    footer .wrapper{
        padding: 26px 16px;
    }

    footer .feedback{
        display: none;
    }

}
